.ptprtlcontainer #ptbr_header_container #pthdr2container {
  background-color: #003262;
  background-image: none; }

.ptprtlcontainer #pthdr2navbarlinks #pthdr2navbar {
  background-color: #003262;
  background-image: none; }

.ptprtlcontainer #ptdropdownmenu {
  background-color: #02263f;
  background-image: none; }

.ptprtlcontainer #pthdr2container #pthdr2logoswan {
  background: url("/uc_cust/data/portal/images/berkeley_logo_white_290x90.svg") no-repeat !important;
  background-size: contain !important;
  height: 45px;
  margin: 8px 5px;
  width: 140px; }
  .ptprtlcontainer #pthdr2container #pthdr2logoswan::before {
    content: " " !important; }

.ps_main * {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal; }

.ps_main .uc-page {
  margin: 0 auto;
  max-width: 800px; }

.ps_main .uc-page-960px {
  margin: 0 auto;
  max-width: 960px; }

.ps_main h1 {
  color: #333;
  font-size: 24px;
  font-weight: normal; }

.ps_main h2 {
  color: #333;
  font-size: 20px;
  font-weight: normal; }

.ps_main h3.ps_header-group {
  color: #333;
  font-size: 18px;
  font-weight: normal; }

.ps_main h4.ps_header-group {
  color: #333;
  font-size: 14px;
  font-weight: bold; }

.ps_main h5.ps_header-group {
  color: #666;
  font-size: 14px;
  font-weight: bold; }

.ps_main h6.ps_header-group {
  color: #666;
  font-size: 12px;
  font-weight: bold; }

.ps_main label.ps-label {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; }

.ps_main legend.ps_header-group {
  color: #333;
  font-size: 18px;
  font-weight: normal; }

.ps_main textarea,
.ps_main textarea.ps-edit,
.ps_main textarea.ps-longedit,
.ps_main input[type="text"],
.ps_main input[type="url"],
.ps_main input[type="date"],
.ps_main input[type="time"],
.ps_main input[type="number"],
.ps_main input[type="search"],
.ps_main input[type="password"],
.ps_main input[type="datetime"],
.ps_main input[type="datetime-local"],
.ps_main input[type="email"],
.ps_main input[type="tel"],
.ps_main select {
  box-shadow: inset 0 0 5px #aaa;
  color: #666;
  font-size: 18px;
  font-weight: normal;
  line-height: normal; }
  .ps_main textarea:hover,
  .ps_main textarea:focus,
  .ps_main textarea.ps-edit:hover,
  .ps_main textarea.ps-edit:focus,
  .ps_main textarea.ps-longedit:hover,
  .ps_main textarea.ps-longedit:focus,
  .ps_main input[type="text"]:hover,
  .ps_main input[type="text"]:focus,
  .ps_main input[type="url"]:hover,
  .ps_main input[type="url"]:focus,
  .ps_main input[type="date"]:hover,
  .ps_main input[type="date"]:focus,
  .ps_main input[type="time"]:hover,
  .ps_main input[type="time"]:focus,
  .ps_main input[type="number"]:hover,
  .ps_main input[type="number"]:focus,
  .ps_main input[type="search"]:hover,
  .ps_main input[type="search"]:focus,
  .ps_main input[type="password"]:hover,
  .ps_main input[type="password"]:focus,
  .ps_main input[type="datetime"]:hover,
  .ps_main input[type="datetime"]:focus,
  .ps_main input[type="datetime-local"]:hover,
  .ps_main input[type="datetime-local"]:focus,
  .ps_main input[type="email"]:hover,
  .ps_main input[type="email"]:focus,
  .ps_main input[type="tel"]:hover,
  .ps_main input[type="tel"]:focus,
  .ps_main select:hover,
  .ps_main select:focus {
    border-color: #2279a4; }

.ps_main hr {
  background: #aaa;
  border: 0;
  color: #aaa;
  height: 1px; }

.ps_main a.ps-button,
.ps_main a.ps-button:link,
.ps_main a.ps-button:visited,
.ps_main a.ps-button:disabled,
.ps_main .ps_box-button.psc_disabled .ps-button,
.ps_main .ps_box-button.psc_disabled .ps-button:link,
.ps_main .ps_box-button.psc_disabled .ps-button:visited,
.ps_main .ps_box-button.psc_disabled .ps-button:disabled {
  background-color: #2279a4;
  background-image: none;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  height: 34px;
  line-height: normal;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle; }

.ps_main a.ps-button:hover,
.ps_main a.ps-button:focus,
.ps_main a.ps-button:active,
.ps_main a.ps-button:link:hover,
.ps_main a.ps-button:link:focus,
.ps_main a.ps-button:link:active,
.ps_main .ps_box-button.psc_disabled .ps-button:hover,
.ps_main .ps_box-button.psc_disabled .ps-button:focus,
.ps_main .ps_box-button.psc_disabled .ps-button:active,
.ps_main .ps_box-button.psc_disabled .ps-button:link:hover,
.ps_main .ps_box-button.psc_disabled .ps-button:link:focus,
.ps_main .ps_box-button.psc_disabled .ps-button:link:active {
  background-color: #2aabdd;
  background-image: none;
  box-shadow: none;
  color: #fff;
  text-decoration: none; }

.ps_main .ps_box-button.psc_disabled .ps-button,
.ps_main .ps_box-button.psc_disabled .ps-button:hover,
.ps_main .ps_box-button.psc_disabled .ps-button:focus {
  background-color: #aaa;
  color: #ddd;
  cursor: default;
  pointer-events: none; }

.ps_main a,
.ps_main a::visited,
.ps_main .ps-link,
.ps_main .ps-link::visited {
  color: #2279a4; }

.ps_main a:focus,
.ps_main a:hover,
.ps_main .ps-link:focus,
.ps_main .ps-link:hover {
  color: #2279a4;
  text-decoration: underline; }

.ps_main ul,
.ps_main ol {
  padding-left: 30px; }
  .ps_main ul li,
  .ps_main ol li {
    color: #999;
    font-weight: bold; }
    .ps_main ul li span,
    .ps_main ol li span {
      color: #333;
      font-weight: normal; }

.ps_main .uc-fluid-table {
  clear: both;
  margin-bottom: 20px;
  overflow: auto; }
  .ps_main .uc-fluid-table > .ps_header-group {
    display: none; }
  .ps_main .uc-fluid-table table {
    border: 1px solid #eee;
    border-collapse: separate;
    font-size: 14px; }
    .ps_main .uc-fluid-table table th {
      background-color: #eee;
      vertical-align: bottom; }
    .ps_main .uc-fluid-table table .psc_image_only .ps-button img {
      -webkit-filter: brightness(3);
      filter: brightness(3); }

.ps_main .ps_box-label {
  width: auto; }

.ps_main .uc-fluid-italic {
  font-style: italic; }

.ps_main .uc-fluid-label-top .ps_box-label {
  margin-bottom: 5px;
  text-align: left; }

.ps_main .uc-fluid-label-top .ps_box-value,
.ps_main .uc-fluid-label-top .ps_box-control {
  display: block; }

.ps_main .uc-fluid-label-associated {
  margin-top: -5px; }
  .ps_main .uc-fluid-label-associated .ps_box-label {
    display: none; }

.ps_main .uc-width-105px {
  width: 105px; }

.ps_main .uc-width-110px {
  width: 110px; }

.ps_main .uc-width-115px {
  width: 115px; }

.ps_main .uc-width-120px {
  width: 120px; }

.ps_main .uc-width-125px {
  width: 125px; }

.ps_main .uc-width-130px {
  width: 130px; }

.ps_main .uc-width-135px {
  width: 135px; }

.ps_main .uc-width-140px {
  width: 140px; }

.ps_main .uc-width-145px {
  width: 145px; }

.ps_main .uc-width-150px {
  width: 150px; }

.ps_main .uc-width-155px {
  width: 155px; }

.ps_main .uc-width-160px {
  width: 160px; }

.ps_main .uc-width-165px {
  width: 165px; }

.ps_main .uc-width-170px {
  width: 170px; }

.ps_main .uc-width-175px {
  width: 175px; }

.ps_main .uc-width-180px {
  width: 180px; }

.ps_main .uc-width-185px {
  width: 185px; }

.ps_main .uc-width-190px {
  width: 190px; }

.ps_main .uc-width-195px {
  width: 195px; }

.ps_main .uc-width-200px {
  width: 200px; }

.ps_main .uc-width-205px {
  width: 205px; }

.ps_main .uc-width-210px {
  width: 210px; }

.ps_main .uc-width-215px {
  width: 215px; }

.ps_main .uc-width-220px {
  width: 220px; }

.ps_main .uc-width-225px {
  width: 225px; }

.ps_main .uc-width-230px {
  width: 230px; }

.ps_main .uc-width-235px {
  width: 235px; }

.ps_main .uc-width-240px {
  width: 240px; }

.ps_main .uc-width-245px {
  width: 245px; }

.ps_main .uc-width-250px {
  width: 250px; }

.ps_main .uc-width-255px {
  width: 255px; }

.ps_main .uc-width-260px {
  width: 260px; }

.ps_main .uc-width-265px {
  width: 265px; }

.ps_main .uc-width-270px {
  width: 270px; }

.ps_main .uc-width-275px {
  width: 275px; }

.ps_main .uc-width-280px {
  width: 280px; }

.ps_main .uc-width-285px {
  width: 285px; }

.ps_main .uc-width-290px {
  width: 290px; }

.ps_main .uc-width-295px {
  width: 295px; }

.ps_main .uc-width-300px {
  width: 300px; }

.ps_main .uc-width-305px {
  width: 305px; }

.ps_main .uc-width-310px {
  width: 310px; }

.ps_main .uc-width-315px {
  width: 315px; }

.ps_main .uc-width-320px {
  width: 320px; }

.ps_main .uc-width-325px {
  width: 325px; }

.ps_main .uc-width-330px {
  width: 330px; }

.ps_main .uc-width-335px {
  width: 335px; }

.ps_main .uc-width-340px {
  width: 340px; }

.ps_main .uc-width-345px {
  width: 345px; }

.ps_main .uc-width-350px {
  width: 350px; }

.ps_main .uc-width-5pct {
  width: 5%; }

.ps_main .uc-width-10pct {
  width: 10%; }

.ps_main .uc-width-15pct {
  width: 15%; }

.ps_main .uc-width-20pct {
  width: 20%; }

.ps_main .uc-width-25pct {
  width: 25%; }

.ps_main .uc-width-30pct {
  width: 30%; }

.ps_main .uc-width-35pct {
  width: 35%; }

.ps_main .uc-width-40pct {
  width: 40%; }

.ps_main .uc-width-45pct {
  width: 45%; }

.ps_main .uc-width-50pct {
  width: 50%; }

.ps_main .uc-width-55pct {
  width: 55%; }

.ps_main .uc-width-60pct {
  width: 60%; }

.ps_main .uc-width-65pct {
  width: 65%; }

.ps_main .uc-width-70pct {
  width: 70%; }

.ps_main .uc-width-75pct {
  width: 75%; }

.ps_main .uc-width-80pct {
  width: 80%; }

.ps_main .uc-width-85pct {
  width: 85%; }

.ps_main .uc-width-90pct {
  width: 90%; }

.ps_main .uc-width-95pct {
  width: 95%; }

.ps_main .uc-width-100pct {
  width: 100%; }

.ps_main .uc-control-width-105px > .ps_box-valuelink,
.ps_main .uc-control-width-105px > .ps_box-valueemail,
.ps_main .uc-control-width-105px > .ps_box-value,
.ps_main .uc-control-width-105px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-105px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-105px > .ps_box-control > .ps-edit {
  width: 105px; }

.ps_main .uc-control-width-110px > .ps_box-valuelink,
.ps_main .uc-control-width-110px > .ps_box-valueemail,
.ps_main .uc-control-width-110px > .ps_box-value,
.ps_main .uc-control-width-110px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-110px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-110px > .ps_box-control > .ps-edit {
  width: 110px; }

.ps_main .uc-control-width-115px > .ps_box-valuelink,
.ps_main .uc-control-width-115px > .ps_box-valueemail,
.ps_main .uc-control-width-115px > .ps_box-value,
.ps_main .uc-control-width-115px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-115px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-115px > .ps_box-control > .ps-edit {
  width: 115px; }

.ps_main .uc-control-width-120px > .ps_box-valuelink,
.ps_main .uc-control-width-120px > .ps_box-valueemail,
.ps_main .uc-control-width-120px > .ps_box-value,
.ps_main .uc-control-width-120px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-120px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-120px > .ps_box-control > .ps-edit {
  width: 120px; }

.ps_main .uc-control-width-125px > .ps_box-valuelink,
.ps_main .uc-control-width-125px > .ps_box-valueemail,
.ps_main .uc-control-width-125px > .ps_box-value,
.ps_main .uc-control-width-125px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-125px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-125px > .ps_box-control > .ps-edit {
  width: 125px; }

.ps_main .uc-control-width-130px > .ps_box-valuelink,
.ps_main .uc-control-width-130px > .ps_box-valueemail,
.ps_main .uc-control-width-130px > .ps_box-value,
.ps_main .uc-control-width-130px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-130px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-130px > .ps_box-control > .ps-edit {
  width: 130px; }

.ps_main .uc-control-width-135px > .ps_box-valuelink,
.ps_main .uc-control-width-135px > .ps_box-valueemail,
.ps_main .uc-control-width-135px > .ps_box-value,
.ps_main .uc-control-width-135px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-135px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-135px > .ps_box-control > .ps-edit {
  width: 135px; }

.ps_main .uc-control-width-140px > .ps_box-valuelink,
.ps_main .uc-control-width-140px > .ps_box-valueemail,
.ps_main .uc-control-width-140px > .ps_box-value,
.ps_main .uc-control-width-140px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-140px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-140px > .ps_box-control > .ps-edit {
  width: 140px; }

.ps_main .uc-control-width-145px > .ps_box-valuelink,
.ps_main .uc-control-width-145px > .ps_box-valueemail,
.ps_main .uc-control-width-145px > .ps_box-value,
.ps_main .uc-control-width-145px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-145px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-145px > .ps_box-control > .ps-edit {
  width: 145px; }

.ps_main .uc-control-width-150px > .ps_box-valuelink,
.ps_main .uc-control-width-150px > .ps_box-valueemail,
.ps_main .uc-control-width-150px > .ps_box-value,
.ps_main .uc-control-width-150px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-150px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-150px > .ps_box-control > .ps-edit {
  width: 150px; }

.ps_main .uc-control-width-155px > .ps_box-valuelink,
.ps_main .uc-control-width-155px > .ps_box-valueemail,
.ps_main .uc-control-width-155px > .ps_box-value,
.ps_main .uc-control-width-155px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-155px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-155px > .ps_box-control > .ps-edit {
  width: 155px; }

.ps_main .uc-control-width-160px > .ps_box-valuelink,
.ps_main .uc-control-width-160px > .ps_box-valueemail,
.ps_main .uc-control-width-160px > .ps_box-value,
.ps_main .uc-control-width-160px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-160px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-160px > .ps_box-control > .ps-edit {
  width: 160px; }

.ps_main .uc-control-width-165px > .ps_box-valuelink,
.ps_main .uc-control-width-165px > .ps_box-valueemail,
.ps_main .uc-control-width-165px > .ps_box-value,
.ps_main .uc-control-width-165px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-165px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-165px > .ps_box-control > .ps-edit {
  width: 165px; }

.ps_main .uc-control-width-170px > .ps_box-valuelink,
.ps_main .uc-control-width-170px > .ps_box-valueemail,
.ps_main .uc-control-width-170px > .ps_box-value,
.ps_main .uc-control-width-170px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-170px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-170px > .ps_box-control > .ps-edit {
  width: 170px; }

.ps_main .uc-control-width-175px > .ps_box-valuelink,
.ps_main .uc-control-width-175px > .ps_box-valueemail,
.ps_main .uc-control-width-175px > .ps_box-value,
.ps_main .uc-control-width-175px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-175px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-175px > .ps_box-control > .ps-edit {
  width: 175px; }

.ps_main .uc-control-width-180px > .ps_box-valuelink,
.ps_main .uc-control-width-180px > .ps_box-valueemail,
.ps_main .uc-control-width-180px > .ps_box-value,
.ps_main .uc-control-width-180px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-180px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-180px > .ps_box-control > .ps-edit {
  width: 180px; }

.ps_main .uc-control-width-185px > .ps_box-valuelink,
.ps_main .uc-control-width-185px > .ps_box-valueemail,
.ps_main .uc-control-width-185px > .ps_box-value,
.ps_main .uc-control-width-185px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-185px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-185px > .ps_box-control > .ps-edit {
  width: 185px; }

.ps_main .uc-control-width-190px > .ps_box-valuelink,
.ps_main .uc-control-width-190px > .ps_box-valueemail,
.ps_main .uc-control-width-190px > .ps_box-value,
.ps_main .uc-control-width-190px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-190px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-190px > .ps_box-control > .ps-edit {
  width: 190px; }

.ps_main .uc-control-width-195px > .ps_box-valuelink,
.ps_main .uc-control-width-195px > .ps_box-valueemail,
.ps_main .uc-control-width-195px > .ps_box-value,
.ps_main .uc-control-width-195px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-195px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-195px > .ps_box-control > .ps-edit {
  width: 195px; }

.ps_main .uc-control-width-200px > .ps_box-valuelink,
.ps_main .uc-control-width-200px > .ps_box-valueemail,
.ps_main .uc-control-width-200px > .ps_box-value,
.ps_main .uc-control-width-200px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-200px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-200px > .ps_box-control > .ps-edit {
  width: 200px; }

.ps_main .uc-control-width-205px > .ps_box-valuelink,
.ps_main .uc-control-width-205px > .ps_box-valueemail,
.ps_main .uc-control-width-205px > .ps_box-value,
.ps_main .uc-control-width-205px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-205px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-205px > .ps_box-control > .ps-edit {
  width: 205px; }

.ps_main .uc-control-width-210px > .ps_box-valuelink,
.ps_main .uc-control-width-210px > .ps_box-valueemail,
.ps_main .uc-control-width-210px > .ps_box-value,
.ps_main .uc-control-width-210px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-210px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-210px > .ps_box-control > .ps-edit {
  width: 210px; }

.ps_main .uc-control-width-215px > .ps_box-valuelink,
.ps_main .uc-control-width-215px > .ps_box-valueemail,
.ps_main .uc-control-width-215px > .ps_box-value,
.ps_main .uc-control-width-215px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-215px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-215px > .ps_box-control > .ps-edit {
  width: 215px; }

.ps_main .uc-control-width-220px > .ps_box-valuelink,
.ps_main .uc-control-width-220px > .ps_box-valueemail,
.ps_main .uc-control-width-220px > .ps_box-value,
.ps_main .uc-control-width-220px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-220px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-220px > .ps_box-control > .ps-edit {
  width: 220px; }

.ps_main .uc-control-width-225px > .ps_box-valuelink,
.ps_main .uc-control-width-225px > .ps_box-valueemail,
.ps_main .uc-control-width-225px > .ps_box-value,
.ps_main .uc-control-width-225px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-225px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-225px > .ps_box-control > .ps-edit {
  width: 225px; }

.ps_main .uc-control-width-230px > .ps_box-valuelink,
.ps_main .uc-control-width-230px > .ps_box-valueemail,
.ps_main .uc-control-width-230px > .ps_box-value,
.ps_main .uc-control-width-230px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-230px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-230px > .ps_box-control > .ps-edit {
  width: 230px; }

.ps_main .uc-control-width-235px > .ps_box-valuelink,
.ps_main .uc-control-width-235px > .ps_box-valueemail,
.ps_main .uc-control-width-235px > .ps_box-value,
.ps_main .uc-control-width-235px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-235px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-235px > .ps_box-control > .ps-edit {
  width: 235px; }

.ps_main .uc-control-width-240px > .ps_box-valuelink,
.ps_main .uc-control-width-240px > .ps_box-valueemail,
.ps_main .uc-control-width-240px > .ps_box-value,
.ps_main .uc-control-width-240px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-240px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-240px > .ps_box-control > .ps-edit {
  width: 240px; }

.ps_main .uc-control-width-245px > .ps_box-valuelink,
.ps_main .uc-control-width-245px > .ps_box-valueemail,
.ps_main .uc-control-width-245px > .ps_box-value,
.ps_main .uc-control-width-245px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-245px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-245px > .ps_box-control > .ps-edit {
  width: 245px; }

.ps_main .uc-control-width-250px > .ps_box-valuelink,
.ps_main .uc-control-width-250px > .ps_box-valueemail,
.ps_main .uc-control-width-250px > .ps_box-value,
.ps_main .uc-control-width-250px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-250px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-250px > .ps_box-control > .ps-edit {
  width: 250px; }

.ps_main .uc-control-width-255px > .ps_box-valuelink,
.ps_main .uc-control-width-255px > .ps_box-valueemail,
.ps_main .uc-control-width-255px > .ps_box-value,
.ps_main .uc-control-width-255px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-255px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-255px > .ps_box-control > .ps-edit {
  width: 255px; }

.ps_main .uc-control-width-260px > .ps_box-valuelink,
.ps_main .uc-control-width-260px > .ps_box-valueemail,
.ps_main .uc-control-width-260px > .ps_box-value,
.ps_main .uc-control-width-260px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-260px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-260px > .ps_box-control > .ps-edit {
  width: 260px; }

.ps_main .uc-control-width-265px > .ps_box-valuelink,
.ps_main .uc-control-width-265px > .ps_box-valueemail,
.ps_main .uc-control-width-265px > .ps_box-value,
.ps_main .uc-control-width-265px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-265px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-265px > .ps_box-control > .ps-edit {
  width: 265px; }

.ps_main .uc-control-width-270px > .ps_box-valuelink,
.ps_main .uc-control-width-270px > .ps_box-valueemail,
.ps_main .uc-control-width-270px > .ps_box-value,
.ps_main .uc-control-width-270px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-270px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-270px > .ps_box-control > .ps-edit {
  width: 270px; }

.ps_main .uc-control-width-275px > .ps_box-valuelink,
.ps_main .uc-control-width-275px > .ps_box-valueemail,
.ps_main .uc-control-width-275px > .ps_box-value,
.ps_main .uc-control-width-275px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-275px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-275px > .ps_box-control > .ps-edit {
  width: 275px; }

.ps_main .uc-control-width-280px > .ps_box-valuelink,
.ps_main .uc-control-width-280px > .ps_box-valueemail,
.ps_main .uc-control-width-280px > .ps_box-value,
.ps_main .uc-control-width-280px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-280px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-280px > .ps_box-control > .ps-edit {
  width: 280px; }

.ps_main .uc-control-width-285px > .ps_box-valuelink,
.ps_main .uc-control-width-285px > .ps_box-valueemail,
.ps_main .uc-control-width-285px > .ps_box-value,
.ps_main .uc-control-width-285px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-285px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-285px > .ps_box-control > .ps-edit {
  width: 285px; }

.ps_main .uc-control-width-290px > .ps_box-valuelink,
.ps_main .uc-control-width-290px > .ps_box-valueemail,
.ps_main .uc-control-width-290px > .ps_box-value,
.ps_main .uc-control-width-290px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-290px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-290px > .ps_box-control > .ps-edit {
  width: 290px; }

.ps_main .uc-control-width-295px > .ps_box-valuelink,
.ps_main .uc-control-width-295px > .ps_box-valueemail,
.ps_main .uc-control-width-295px > .ps_box-value,
.ps_main .uc-control-width-295px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-295px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-295px > .ps_box-control > .ps-edit {
  width: 295px; }

.ps_main .uc-control-width-300px > .ps_box-valuelink,
.ps_main .uc-control-width-300px > .ps_box-valueemail,
.ps_main .uc-control-width-300px > .ps_box-value,
.ps_main .uc-control-width-300px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-300px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-300px > .ps_box-control > .ps-edit {
  width: 300px; }

.ps_main .uc-control-width-305px > .ps_box-valuelink,
.ps_main .uc-control-width-305px > .ps_box-valueemail,
.ps_main .uc-control-width-305px > .ps_box-value,
.ps_main .uc-control-width-305px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-305px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-305px > .ps_box-control > .ps-edit {
  width: 305px; }

.ps_main .uc-control-width-310px > .ps_box-valuelink,
.ps_main .uc-control-width-310px > .ps_box-valueemail,
.ps_main .uc-control-width-310px > .ps_box-value,
.ps_main .uc-control-width-310px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-310px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-310px > .ps_box-control > .ps-edit {
  width: 310px; }

.ps_main .uc-control-width-315px > .ps_box-valuelink,
.ps_main .uc-control-width-315px > .ps_box-valueemail,
.ps_main .uc-control-width-315px > .ps_box-value,
.ps_main .uc-control-width-315px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-315px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-315px > .ps_box-control > .ps-edit {
  width: 315px; }

.ps_main .uc-control-width-320px > .ps_box-valuelink,
.ps_main .uc-control-width-320px > .ps_box-valueemail,
.ps_main .uc-control-width-320px > .ps_box-value,
.ps_main .uc-control-width-320px > .ps_box-control > .ps-longedit,
.ps_main .uc-control-width-320px > .ps_box-control > .ps-dropdown,
.ps_main .uc-control-width-320px > .ps_box-control > .ps-edit {
  width: 320px; }

.ps_main .uc-input-align-right > .ps_box-control input[type="text"] {
  text-align: right; }

.ps_main .uc-font-size-10 {
  font-size: 10px; }

.ps_main .uc-font-size-11 {
  font-size: 11px; }

.ps_main .uc-font-size-12 {
  font-size: 12px; }

.ps_main .uc-font-size-13 {
  font-size: 13px; }

.ps_main .uc-font-size-14 {
  font-size: 14px; }

.ps_main .uc-font-size-15 {
  font-size: 15px; }

.ps_main .uc-font-size-16 {
  font-size: 16px; }

.ps_main .uc-font-size-17 {
  font-size: 17px; }

.ps_main .uc-font-size-18 {
  font-size: 18px; }

.ps_main .uc-font-size-19 {
  font-size: 19px; }

.ps_main .uc-font-size-20 {
  font-size: 20px; }

.ps_main .uc-font-size-21 {
  font-size: 21px; }

.ps_main .uc-font-size-22 {
  font-size: 22px; }

.ps_main .uc-font-size-23 {
  font-size: 23px; }

.ps_main .uc-font-size-24 {
  font-size: 24px; }

.ps_main .uc-font-size-25 {
  font-size: 25px; }

.ps_main .uc-margin-100px {
  margin: 100px; }

.ps_main .uc-margin-bottom-100px {
  margin-bottom: 100px; }

.ps_main .uc-margin-top-100px {
  margin-top: 100px; }

.ps_main .uc-margin-left-100px {
  margin-left: 100px; }

.ps_main .uc-margin-right-100px {
  margin-right: 100px; }

.ps_main .uc-margin-105px {
  margin: 105px; }

.ps_main .uc-margin-bottom-105px {
  margin-bottom: 105px; }

.ps_main .uc-margin-top-105px {
  margin-top: 105px; }

.ps_main .uc-margin-left-105px {
  margin-left: 105px; }

.ps_main .uc-margin-right-105px {
  margin-right: 105px; }

.ps_main .uc-margin-110px {
  margin: 110px; }

.ps_main .uc-margin-bottom-110px {
  margin-bottom: 110px; }

.ps_main .uc-margin-top-110px {
  margin-top: 110px; }

.ps_main .uc-margin-left-110px {
  margin-left: 110px; }

.ps_main .uc-margin-right-110px {
  margin-right: 110px; }

.ps_main .uc-margin-115px {
  margin: 115px; }

.ps_main .uc-margin-bottom-115px {
  margin-bottom: 115px; }

.ps_main .uc-margin-top-115px {
  margin-top: 115px; }

.ps_main .uc-margin-left-115px {
  margin-left: 115px; }

.ps_main .uc-margin-right-115px {
  margin-right: 115px; }

.ps_main .uc-margin-120px {
  margin: 120px; }

.ps_main .uc-margin-bottom-120px {
  margin-bottom: 120px; }

.ps_main .uc-margin-top-120px {
  margin-top: 120px; }

.ps_main .uc-margin-left-120px {
  margin-left: 120px; }

.ps_main .uc-margin-right-120px {
  margin-right: 120px; }

.ps_main .uc-margin-125px {
  margin: 125px; }

.ps_main .uc-margin-bottom-125px {
  margin-bottom: 125px; }

.ps_main .uc-margin-top-125px {
  margin-top: 125px; }

.ps_main .uc-margin-left-125px {
  margin-left: 125px; }

.ps_main .uc-margin-right-125px {
  margin-right: 125px; }

.ps_main .uc-margin-130px {
  margin: 130px; }

.ps_main .uc-margin-bottom-130px {
  margin-bottom: 130px; }

.ps_main .uc-margin-top-130px {
  margin-top: 130px; }

.ps_main .uc-margin-left-130px {
  margin-left: 130px; }

.ps_main .uc-margin-right-130px {
  margin-right: 130px; }

.ps_main .uc-margin-135px {
  margin: 135px; }

.ps_main .uc-margin-bottom-135px {
  margin-bottom: 135px; }

.ps_main .uc-margin-top-135px {
  margin-top: 135px; }

.ps_main .uc-margin-left-135px {
  margin-left: 135px; }

.ps_main .uc-margin-right-135px {
  margin-right: 135px; }

.ps_main .uc-margin-140px {
  margin: 140px; }

.ps_main .uc-margin-bottom-140px {
  margin-bottom: 140px; }

.ps_main .uc-margin-top-140px {
  margin-top: 140px; }

.ps_main .uc-margin-left-140px {
  margin-left: 140px; }

.ps_main .uc-margin-right-140px {
  margin-right: 140px; }

.ps_main .uc-margin-145px {
  margin: 145px; }

.ps_main .uc-margin-bottom-145px {
  margin-bottom: 145px; }

.ps_main .uc-margin-top-145px {
  margin-top: 145px; }

.ps_main .uc-margin-left-145px {
  margin-left: 145px; }

.ps_main .uc-margin-right-145px {
  margin-right: 145px; }

.ps_main .uc-margin-150px {
  margin: 150px; }

.ps_main .uc-margin-bottom-150px {
  margin-bottom: 150px; }

.ps_main .uc-margin-top-150px {
  margin-top: 150px; }

.ps_main .uc-margin-left-150px {
  margin-left: 150px; }

.ps_main .uc-margin-right-150px {
  margin-right: 150px; }

.ps_main .uc-margin-155px {
  margin: 155px; }

.ps_main .uc-margin-bottom-155px {
  margin-bottom: 155px; }

.ps_main .uc-margin-top-155px {
  margin-top: 155px; }

.ps_main .uc-margin-left-155px {
  margin-left: 155px; }

.ps_main .uc-margin-right-155px {
  margin-right: 155px; }

.ps_main .uc-margin-160px {
  margin: 160px; }

.ps_main .uc-margin-bottom-160px {
  margin-bottom: 160px; }

.ps_main .uc-margin-top-160px {
  margin-top: 160px; }

.ps_main .uc-margin-left-160px {
  margin-left: 160px; }

.ps_main .uc-margin-right-160px {
  margin-right: 160px; }

.ps_main .uc-margin-165px {
  margin: 165px; }

.ps_main .uc-margin-bottom-165px {
  margin-bottom: 165px; }

.ps_main .uc-margin-top-165px {
  margin-top: 165px; }

.ps_main .uc-margin-left-165px {
  margin-left: 165px; }

.ps_main .uc-margin-right-165px {
  margin-right: 165px; }

.ps_main .uc-margin-170px {
  margin: 170px; }

.ps_main .uc-margin-bottom-170px {
  margin-bottom: 170px; }

.ps_main .uc-margin-top-170px {
  margin-top: 170px; }

.ps_main .uc-margin-left-170px {
  margin-left: 170px; }

.ps_main .uc-margin-right-170px {
  margin-right: 170px; }

.ps_main .uc-margin-175px {
  margin: 175px; }

.ps_main .uc-margin-bottom-175px {
  margin-bottom: 175px; }

.ps_main .uc-margin-top-175px {
  margin-top: 175px; }

.ps_main .uc-margin-left-175px {
  margin-left: 175px; }

.ps_main .uc-margin-right-175px {
  margin-right: 175px; }

.ps_main .uc-margin-180px {
  margin: 180px; }

.ps_main .uc-margin-bottom-180px {
  margin-bottom: 180px; }

.ps_main .uc-margin-top-180px {
  margin-top: 180px; }

.ps_main .uc-margin-left-180px {
  margin-left: 180px; }

.ps_main .uc-margin-right-180px {
  margin-right: 180px; }

.ps_main .uc-margin-185px {
  margin: 185px; }

.ps_main .uc-margin-bottom-185px {
  margin-bottom: 185px; }

.ps_main .uc-margin-top-185px {
  margin-top: 185px; }

.ps_main .uc-margin-left-185px {
  margin-left: 185px; }

.ps_main .uc-margin-right-185px {
  margin-right: 185px; }

.ps_main .uc-margin-190px {
  margin: 190px; }

.ps_main .uc-margin-bottom-190px {
  margin-bottom: 190px; }

.ps_main .uc-margin-top-190px {
  margin-top: 190px; }

.ps_main .uc-margin-left-190px {
  margin-left: 190px; }

.ps_main .uc-margin-right-190px {
  margin-right: 190px; }

.ps_main .uc-margin-195px {
  margin: 195px; }

.ps_main .uc-margin-bottom-195px {
  margin-bottom: 195px; }

.ps_main .uc-margin-top-195px {
  margin-top: 195px; }

.ps_main .uc-margin-left-195px {
  margin-left: 195px; }

.ps_main .uc-margin-right-195px {
  margin-right: 195px; }

.ps_main .uc-margin-200px {
  margin: 200px; }

.ps_main .uc-margin-bottom-200px {
  margin-bottom: 200px; }

.ps_main .uc-margin-top-200px {
  margin-top: 200px; }

.ps_main .uc-margin-left-200px {
  margin-left: 200px; }

.ps_main .uc-margin-right-200px {
  margin-right: 200px; }

.ps_main .uc-margin-205px {
  margin: 205px; }

.ps_main .uc-margin-bottom-205px {
  margin-bottom: 205px; }

.ps_main .uc-margin-top-205px {
  margin-top: 205px; }

.ps_main .uc-margin-left-205px {
  margin-left: 205px; }

.ps_main .uc-margin-right-205px {
  margin-right: 205px; }

.ps_main .uc-margin-210px {
  margin: 210px; }

.ps_main .uc-margin-bottom-210px {
  margin-bottom: 210px; }

.ps_main .uc-margin-top-210px {
  margin-top: 210px; }

.ps_main .uc-margin-left-210px {
  margin-left: 210px; }

.ps_main .uc-margin-right-210px {
  margin-right: 210px; }

.ps_main .uc-margin-215px {
  margin: 215px; }

.ps_main .uc-margin-bottom-215px {
  margin-bottom: 215px; }

.ps_main .uc-margin-top-215px {
  margin-top: 215px; }

.ps_main .uc-margin-left-215px {
  margin-left: 215px; }

.ps_main .uc-margin-right-215px {
  margin-right: 215px; }

.ps_main .uc-margin-220px {
  margin: 220px; }

.ps_main .uc-margin-bottom-220px {
  margin-bottom: 220px; }

.ps_main .uc-margin-top-220px {
  margin-top: 220px; }

.ps_main .uc-margin-left-220px {
  margin-left: 220px; }

.ps_main .uc-margin-right-220px {
  margin-right: 220px; }

.ps_main .uc-margin-225px {
  margin: 225px; }

.ps_main .uc-margin-bottom-225px {
  margin-bottom: 225px; }

.ps_main .uc-margin-top-225px {
  margin-top: 225px; }

.ps_main .uc-margin-left-225px {
  margin-left: 225px; }

.ps_main .uc-margin-right-225px {
  margin-right: 225px; }

.ps_main .uc-margin-230px {
  margin: 230px; }

.ps_main .uc-margin-bottom-230px {
  margin-bottom: 230px; }

.ps_main .uc-margin-top-230px {
  margin-top: 230px; }

.ps_main .uc-margin-left-230px {
  margin-left: 230px; }

.ps_main .uc-margin-right-230px {
  margin-right: 230px; }

.ps_main .uc-margin-235px {
  margin: 235px; }

.ps_main .uc-margin-bottom-235px {
  margin-bottom: 235px; }

.ps_main .uc-margin-top-235px {
  margin-top: 235px; }

.ps_main .uc-margin-left-235px {
  margin-left: 235px; }

.ps_main .uc-margin-right-235px {
  margin-right: 235px; }

.ps_main .uc-margin-240px {
  margin: 240px; }

.ps_main .uc-margin-bottom-240px {
  margin-bottom: 240px; }

.ps_main .uc-margin-top-240px {
  margin-top: 240px; }

.ps_main .uc-margin-left-240px {
  margin-left: 240px; }

.ps_main .uc-margin-right-240px {
  margin-right: 240px; }

.ps_main .uc-margin-245px {
  margin: 245px; }

.ps_main .uc-margin-bottom-245px {
  margin-bottom: 245px; }

.ps_main .uc-margin-top-245px {
  margin-top: 245px; }

.ps_main .uc-margin-left-245px {
  margin-left: 245px; }

.ps_main .uc-margin-right-245px {
  margin-right: 245px; }

.ps_main .uc-margin-250px {
  margin: 250px; }

.ps_main .uc-margin-bottom-250px {
  margin-bottom: 250px; }

.ps_main .uc-margin-top-250px {
  margin-top: 250px; }

.ps_main .uc-margin-left-250px {
  margin-left: 250px; }

.ps_main .uc-margin-right-250px {
  margin-right: 250px; }

.ps_main .uc-margin-255px {
  margin: 255px; }

.ps_main .uc-margin-bottom-255px {
  margin-bottom: 255px; }

.ps_main .uc-margin-top-255px {
  margin-top: 255px; }

.ps_main .uc-margin-left-255px {
  margin-left: 255px; }

.ps_main .uc-margin-right-255px {
  margin-right: 255px; }

.ps_main .uc-margin-260px {
  margin: 260px; }

.ps_main .uc-margin-bottom-260px {
  margin-bottom: 260px; }

.ps_main .uc-margin-top-260px {
  margin-top: 260px; }

.ps_main .uc-margin-left-260px {
  margin-left: 260px; }

.ps_main .uc-margin-right-260px {
  margin-right: 260px; }

.ps_main .uc-margin-265px {
  margin: 265px; }

.ps_main .uc-margin-bottom-265px {
  margin-bottom: 265px; }

.ps_main .uc-margin-top-265px {
  margin-top: 265px; }

.ps_main .uc-margin-left-265px {
  margin-left: 265px; }

.ps_main .uc-margin-right-265px {
  margin-right: 265px; }

.ps_main .uc-margin-270px {
  margin: 270px; }

.ps_main .uc-margin-bottom-270px {
  margin-bottom: 270px; }

.ps_main .uc-margin-top-270px {
  margin-top: 270px; }

.ps_main .uc-margin-left-270px {
  margin-left: 270px; }

.ps_main .uc-margin-right-270px {
  margin-right: 270px; }

.ps_main .uc-margin-275px {
  margin: 275px; }

.ps_main .uc-margin-bottom-275px {
  margin-bottom: 275px; }

.ps_main .uc-margin-top-275px {
  margin-top: 275px; }

.ps_main .uc-margin-left-275px {
  margin-left: 275px; }

.ps_main .uc-margin-right-275px {
  margin-right: 275px; }

.ps_main .uc-margin-280px {
  margin: 280px; }

.ps_main .uc-margin-bottom-280px {
  margin-bottom: 280px; }

.ps_main .uc-margin-top-280px {
  margin-top: 280px; }

.ps_main .uc-margin-left-280px {
  margin-left: 280px; }

.ps_main .uc-margin-right-280px {
  margin-right: 280px; }

.ps_main .uc-margin-285px {
  margin: 285px; }

.ps_main .uc-margin-bottom-285px {
  margin-bottom: 285px; }

.ps_main .uc-margin-top-285px {
  margin-top: 285px; }

.ps_main .uc-margin-left-285px {
  margin-left: 285px; }

.ps_main .uc-margin-right-285px {
  margin-right: 285px; }

.ps_main .uc-margin-290px {
  margin: 290px; }

.ps_main .uc-margin-bottom-290px {
  margin-bottom: 290px; }

.ps_main .uc-margin-top-290px {
  margin-top: 290px; }

.ps_main .uc-margin-left-290px {
  margin-left: 290px; }

.ps_main .uc-margin-right-290px {
  margin-right: 290px; }

.ps_main .uc-margin-295px {
  margin: 295px; }

.ps_main .uc-margin-bottom-295px {
  margin-bottom: 295px; }

.ps_main .uc-margin-top-295px {
  margin-top: 295px; }

.ps_main .uc-margin-left-295px {
  margin-left: 295px; }

.ps_main .uc-margin-right-295px {
  margin-right: 295px; }

.ps_main .uc-margin-300px {
  margin: 300px; }

.ps_main .uc-margin-bottom-300px {
  margin-bottom: 300px; }

.ps_main .uc-margin-top-300px {
  margin-top: 300px; }

.ps_main .uc-margin-left-300px {
  margin-left: 300px; }

.ps_main .uc-margin-right-300px {
  margin-right: 300px; }

.ps_main .uc-margin-negative-1px {
  margin: -1px; }

.ps_main .uc-margin-bottom-negative-1px {
  margin-bottom: -1px; }

.ps_main .uc-margin-top-negative-1px {
  margin-top: -1px; }

.ps_main .uc-margin-left-negative-1px {
  margin-left: -1px; }

.ps_main .uc-margin-right-negative-1px {
  margin-right: -1px; }

.ps_main .uc-margin-negative-2px {
  margin: -2px; }

.ps_main .uc-margin-bottom-negative-2px {
  margin-bottom: -2px; }

.ps_main .uc-margin-top-negative-2px {
  margin-top: -2px; }

.ps_main .uc-margin-left-negative-2px {
  margin-left: -2px; }

.ps_main .uc-margin-right-negative-2px {
  margin-right: -2px; }

.ps_main .uc-margin-negative-3px {
  margin: -3px; }

.ps_main .uc-margin-bottom-negative-3px {
  margin-bottom: -3px; }

.ps_main .uc-margin-top-negative-3px {
  margin-top: -3px; }

.ps_main .uc-margin-left-negative-3px {
  margin-left: -3px; }

.ps_main .uc-margin-right-negative-3px {
  margin-right: -3px; }

.ps_main .uc-margin-negative-4px {
  margin: -4px; }

.ps_main .uc-margin-bottom-negative-4px {
  margin-bottom: -4px; }

.ps_main .uc-margin-top-negative-4px {
  margin-top: -4px; }

.ps_main .uc-margin-left-negative-4px {
  margin-left: -4px; }

.ps_main .uc-margin-right-negative-4px {
  margin-right: -4px; }

.ps_main .uc-margin-negative-5px {
  margin: -5px; }

.ps_main .uc-margin-bottom-negative-5px {
  margin-bottom: -5px; }

.ps_main .uc-margin-top-negative-5px {
  margin-top: -5px; }

.ps_main .uc-margin-left-negative-5px {
  margin-left: -5px; }

.ps_main .uc-margin-right-negative-5px {
  margin-right: -5px; }

.ps_main .uc-margin-negative-6px {
  margin: -6px; }

.ps_main .uc-margin-bottom-negative-6px {
  margin-bottom: -6px; }

.ps_main .uc-margin-top-negative-6px {
  margin-top: -6px; }

.ps_main .uc-margin-left-negative-6px {
  margin-left: -6px; }

.ps_main .uc-margin-right-negative-6px {
  margin-right: -6px; }

.ps_main .uc-margin-negative-7px {
  margin: -7px; }

.ps_main .uc-margin-bottom-negative-7px {
  margin-bottom: -7px; }

.ps_main .uc-margin-top-negative-7px {
  margin-top: -7px; }

.ps_main .uc-margin-left-negative-7px {
  margin-left: -7px; }

.ps_main .uc-margin-right-negative-7px {
  margin-right: -7px; }

.ps_main .uc-margin-negative-8px {
  margin: -8px; }

.ps_main .uc-margin-bottom-negative-8px {
  margin-bottom: -8px; }

.ps_main .uc-margin-top-negative-8px {
  margin-top: -8px; }

.ps_main .uc-margin-left-negative-8px {
  margin-left: -8px; }

.ps_main .uc-margin-right-negative-8px {
  margin-right: -8px; }

.ps_main .uc-margin-negative-9px {
  margin: -9px; }

.ps_main .uc-margin-bottom-negative-9px {
  margin-bottom: -9px; }

.ps_main .uc-margin-top-negative-9px {
  margin-top: -9px; }

.ps_main .uc-margin-left-negative-9px {
  margin-left: -9px; }

.ps_main .uc-margin-right-negative-9px {
  margin-right: -9px; }

.ps_main .uc-margin-negative-10px {
  margin: -10px; }

.ps_main .uc-margin-bottom-negative-10px {
  margin-bottom: -10px; }

.ps_main .uc-margin-top-negative-10px {
  margin-top: -10px; }

.ps_main .uc-margin-left-negative-10px {
  margin-left: -10px; }

.ps_main .uc-margin-right-negative-10px {
  margin-right: -10px; }

.ps_main .uc-margin-negative-11px {
  margin: -11px; }

.ps_main .uc-margin-bottom-negative-11px {
  margin-bottom: -11px; }

.ps_main .uc-margin-top-negative-11px {
  margin-top: -11px; }

.ps_main .uc-margin-left-negative-11px {
  margin-left: -11px; }

.ps_main .uc-margin-right-negative-11px {
  margin-right: -11px; }

.ps_main .uc-margin-negative-12px {
  margin: -12px; }

.ps_main .uc-margin-bottom-negative-12px {
  margin-bottom: -12px; }

.ps_main .uc-margin-top-negative-12px {
  margin-top: -12px; }

.ps_main .uc-margin-left-negative-12px {
  margin-left: -12px; }

.ps_main .uc-margin-right-negative-12px {
  margin-right: -12px; }

.ps_main .uc-margin-negative-13px {
  margin: -13px; }

.ps_main .uc-margin-bottom-negative-13px {
  margin-bottom: -13px; }

.ps_main .uc-margin-top-negative-13px {
  margin-top: -13px; }

.ps_main .uc-margin-left-negative-13px {
  margin-left: -13px; }

.ps_main .uc-margin-right-negative-13px {
  margin-right: -13px; }

.ps_main .uc-margin-negative-14px {
  margin: -14px; }

.ps_main .uc-margin-bottom-negative-14px {
  margin-bottom: -14px; }

.ps_main .uc-margin-top-negative-14px {
  margin-top: -14px; }

.ps_main .uc-margin-left-negative-14px {
  margin-left: -14px; }

.ps_main .uc-margin-right-negative-14px {
  margin-right: -14px; }

.ps_main .uc-margin-negative-15px {
  margin: -15px; }

.ps_main .uc-margin-bottom-negative-15px {
  margin-bottom: -15px; }

.ps_main .uc-margin-top-negative-15px {
  margin-top: -15px; }

.ps_main .uc-margin-left-negative-15px {
  margin-left: -15px; }

.ps_main .uc-margin-right-negative-15px {
  margin-right: -15px; }

.ps_main .uc-margin-negative-16px {
  margin: -16px; }

.ps_main .uc-margin-bottom-negative-16px {
  margin-bottom: -16px; }

.ps_main .uc-margin-top-negative-16px {
  margin-top: -16px; }

.ps_main .uc-margin-left-negative-16px {
  margin-left: -16px; }

.ps_main .uc-margin-right-negative-16px {
  margin-right: -16px; }

.ps_main .uc-margin-negative-17px {
  margin: -17px; }

.ps_main .uc-margin-bottom-negative-17px {
  margin-bottom: -17px; }

.ps_main .uc-margin-top-negative-17px {
  margin-top: -17px; }

.ps_main .uc-margin-left-negative-17px {
  margin-left: -17px; }

.ps_main .uc-margin-right-negative-17px {
  margin-right: -17px; }

.ps_main .uc-margin-negative-18px {
  margin: -18px; }

.ps_main .uc-margin-bottom-negative-18px {
  margin-bottom: -18px; }

.ps_main .uc-margin-top-negative-18px {
  margin-top: -18px; }

.ps_main .uc-margin-left-negative-18px {
  margin-left: -18px; }

.ps_main .uc-margin-right-negative-18px {
  margin-right: -18px; }

.ps_main .uc-margin-negative-19px {
  margin: -19px; }

.ps_main .uc-margin-bottom-negative-19px {
  margin-bottom: -19px; }

.ps_main .uc-margin-top-negative-19px {
  margin-top: -19px; }

.ps_main .uc-margin-left-negative-19px {
  margin-left: -19px; }

.ps_main .uc-margin-right-negative-19px {
  margin-right: -19px; }

.ps_main .uc-margin-negative-20px {
  margin: -20px; }

.ps_main .uc-margin-bottom-negative-20px {
  margin-bottom: -20px; }

.ps_main .uc-margin-top-negative-20px {
  margin-top: -20px; }

.ps_main .uc-margin-left-negative-20px {
  margin-left: -20px; }

.ps_main .uc-margin-right-negative-20px {
  margin-right: -20px; }

.ps_main .uc-max-width-100px {
  max-width: 100px; }

.ps_main .uc-max-width-105px {
  max-width: 105px; }

.ps_main .uc-max-width-110px {
  max-width: 110px; }

.ps_main .uc-max-width-115px {
  max-width: 115px; }

.ps_main .uc-max-width-120px {
  max-width: 120px; }

.ps_main .uc-max-width-125px {
  max-width: 125px; }

.ps_main .uc-max-width-130px {
  max-width: 130px; }

.ps_main .uc-max-width-135px {
  max-width: 135px; }

.ps_main .uc-max-width-140px {
  max-width: 140px; }

.ps_main .uc-max-width-145px {
  max-width: 145px; }

.ps_main .uc-max-width-150px {
  max-width: 150px; }

.ps_main .uc-max-width-155px {
  max-width: 155px; }

.ps_main .uc-max-width-160px {
  max-width: 160px; }

.ps_main .uc-max-width-165px {
  max-width: 165px; }

.ps_main .uc-max-width-170px {
  max-width: 170px; }

.ps_main .uc-max-width-175px {
  max-width: 175px; }

.ps_main .uc-max-width-180px {
  max-width: 180px; }

.ps_main .uc-max-width-185px {
  max-width: 185px; }

.ps_main .uc-max-width-190px {
  max-width: 190px; }

.ps_main .uc-max-width-195px {
  max-width: 195px; }

.ps_main .uc-max-width-200px {
  max-width: 200px; }

.ps_main .uc-max-width-205px {
  max-width: 205px; }

.ps_main .uc-max-width-210px {
  max-width: 210px; }

.ps_main .uc-max-width-215px {
  max-width: 215px; }

.ps_main .uc-max-width-220px {
  max-width: 220px; }

.ps_main .uc-max-width-225px {
  max-width: 225px; }

.ps_main .uc-max-width-230px {
  max-width: 230px; }

.ps_main .uc-max-width-235px {
  max-width: 235px; }

.ps_main .uc-max-width-240px {
  max-width: 240px; }

.ps_main .uc-max-width-245px {
  max-width: 245px; }

.ps_main .uc-max-width-250px {
  max-width: 250px; }

.ps_main .uc-max-width-255px {
  max-width: 255px; }

.ps_main .uc-max-width-260px {
  max-width: 260px; }

.ps_main .uc-max-width-265px {
  max-width: 265px; }

.ps_main .uc-max-width-270px {
  max-width: 270px; }

.ps_main .uc-max-width-275px {
  max-width: 275px; }

.ps_main .uc-max-width-280px {
  max-width: 280px; }

.ps_main .uc-max-width-285px {
  max-width: 285px; }

.ps_main .uc-max-width-290px {
  max-width: 290px; }

.ps_main .uc-max-width-295px {
  max-width: 295px; }

.ps_main .uc-max-width-300px {
  max-width: 300px; }

.ps_main .uc-max-width-305px {
  max-width: 305px; }

.ps_main .uc-max-width-310px {
  max-width: 310px; }

.ps_main .uc-max-width-315px {
  max-width: 315px; }

.ps_main .uc-max-width-320px {
  max-width: 320px; }

.ps_main .uc-max-width-325px {
  max-width: 325px; }

.ps_main .uc-max-width-330px {
  max-width: 330px; }

.ps_main .uc-max-width-335px {
  max-width: 335px; }

.ps_main .uc-max-width-340px {
  max-width: 340px; }

.ps_main .uc-max-width-345px {
  max-width: 345px; }

.ps_main .uc-max-width-350px {
  max-width: 350px; }

.ps_main .uc-max-width-355px {
  max-width: 355px; }

.ps_main .uc-max-width-360px {
  max-width: 360px; }

.ps_main .uc-max-width-365px {
  max-width: 365px; }

.ps_main .uc-max-width-370px {
  max-width: 370px; }

.ps_main .uc-max-width-375px {
  max-width: 375px; }

.ps_main .uc-max-width-380px {
  max-width: 380px; }

.ps_main .uc-max-width-385px {
  max-width: 385px; }

.ps_main .uc-max-width-390px {
  max-width: 390px; }

.ps_main .uc-max-width-395px {
  max-width: 395px; }

.ps_main .uc-max-width-400px {
  max-width: 400px; }

.ps_main .uc-longedit-label-top.ps_box-edit.psc_wrappable:not(.psc_label-suppressed),
.ps_main .uc-longedit-label-top.ps_box-dropdown.psc_wrappable:not(.psc_label-suppressed),
.ps_main .uc-longedit-label-top.ps_box-longedit.psc_wrappable:not(.psc_label-suppressed) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ps_main .uc-longedit-label-top.ps_box-edit.psc_wrappable:not(.psc_label-suppressed) > .ps_box-label,
  .ps_main .uc-longedit-label-top.ps_box-dropdown.psc_wrappable:not(.psc_label-suppressed) > .ps_box-label,
  .ps_main .uc-longedit-label-top.ps_box-longedit.psc_wrappable:not(.psc_label-suppressed) > .ps_box-label {
    text-align: left; }

.ps_main .uc-white-space-pre-wrap {
  white-space: pre-wrap; }

.ps_main .uc-input-error > .ps_box-control input[type="text"] {
  background-color: #ff3037; }

.ps_main .psc_error input::-webkit-input-placeholder {
  color: #fff; }

.ps_main .psc_error input::-moz-placeholder {
  color: #fff; }

.ps_main .psc_error input:-ms-input-placeholder {
  color: #fff; }

.ps_main .psc_error input::placeholder {
  color: #fff; }

.ps_main .uc-status-message {
  border: 0;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  outline: none;
  overflow: hidden;
  resize: none;
  width: 100%; }

.ps_main .uc-status-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px; }

.ps_main .uc-status-icon-success {
  background-image: url("/uc_cust/data/portal/images/uc-icon-success.svg"); }

.ps_main .uc-status-icon-error {
  background-image: url("/uc_cust/data/portal/images/uc-icon-error.svg"); }

.ps_main .uc-status-icon-warning {
  background-image: url("/uc_cust/data/portal/images/uc-icon-warning.svg"); }

.ps_main .uc-border-color-red {
  border-color: #ff3037; }

.ps_main .uc-border-color-green {
  border-color: #0d863d; }

.ps_main .uc-border-color-gold {
  border-color: #f1a91e; }

.ps_main .uc-border-box-shadow-red {
  box-shadow: 0 0 5px #ff3037, inset 0 0 3px #ff3037; }

.ps_main .uc-border-box-shadow-green {
  box-shadow: 0 0 5px #0d863d, inset 0 0 3px #0d863d; }

.ps_main .uc-border-box-shadow-gold {
  box-shadow: 0 0 5px #f1a91e, inset 0 0 3px #f1a91e; }

.ps_main .uc-border-radius-3px {
  border-radius: 3px; }

.ps_main .uc-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ps_main .uc-color-blue-dark {
  color: #2279a4; }

.ps_main .uc-color-blue-light {
  color: #2aabdd; }

.ps_main .uc-color-green {
  color: #0d863d; }

.ps_main .uc-color-grey-3 {
  color: #333; }

.ps_main .uc-color-grey-6 {
  color: #666; }

.ps_main .uc-color-grey-9 {
  color: #999; }

.ps_main .uc-color-grey-a {
  color: #aaa; }

.ps_main .uc-color-grey-c {
  color: #ccc; }

.ps_main .uc-color-grey-e {
  color: #eee; }

.ps_main .uc-color-red {
  color: #ff3037; }

.ps_main .uc-color-white {
  color: #fff; }

.uc-calcentral-header * {
  font-family: Arial, Helvetica, sans-serif; }

.uc-calcentral-header .uc-calcentral-logo-container {
  background: #002e5b; }
  .uc-calcentral-header .uc-calcentral-logo-container .uc-calcentral-logo {
    background: url("/uc_cust/data/portal/images/calcentral_logo_340x35.svg") no-repeat left center;
    background-size: contain;
    border-bottom: 2px solid transparent;
    display: block;
    height: 35px;
    margin-left: 15px;
    text-indent: -9999px;
    width: 200px; }
    .uc-calcentral-header .uc-calcentral-logo-container .uc-calcentral-logo:focus,
    .uc-calcentral-header .uc-calcentral-logo-container .uc-calcentral-logo:hover {
      border-bottom: 2px solid #f1a91e;
      opacity: .9; }

.uc-calcentral-header .uc-calcentral-back-container {
  background: #2b6281; }
  .uc-calcentral-header .uc-calcentral-back-container .uc-calcentral-back {
    background: url("/uc_cust/data/portal/images/arrow-circle-o-left.svg") no-repeat left center;
    background-size: 15px;
    display: block;
    font-size: 14px;
    margin-left: 15px;
    padding: 10px 0 9px 20px; }
  .uc-calcentral-header .uc-calcentral-back-container a {
    color: #fff; }

.uc-calcentral-header-added {
  margin: 0; }
  .uc-calcentral-header-added > .PSForm {
    height: calc(100% - 72px); }

.uc-berkeley-header {
  background-color: #003262; }
  .uc-berkeley-header .uc-berkeley-logo-container {
    padding: 10px 10px 5px; }
  .uc-berkeley-header .uc-berkeley-logo {
    background: url("/uc_cust/data/portal/images/berkeley_logo_white_290x90.svg") no-repeat !important;
    background-size: contain !important;
    height: 45px;
    width: 140px; }
    .uc-berkeley-header .uc-berkeley-logo::before {
      content: " " !important; }

.uc-planner .uc-planner-detail .uc-planner-detail-term {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .uc-planner .uc-planner-detail .uc-planner-detail-term > div {
    background: #fff;
    font-size: 20px;
    margin: 10px;
    width: 30%; }
  .uc-planner .uc-planner-detail .uc-planner-detail-term div {
    border-radius: 5px;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none; }
  .uc-planner .uc-planner-detail .uc-planner-detail-term .uc-planner-grid .ps_box-grid-header {
    display: none; }
  .uc-planner .uc-planner-detail .uc-planner-detail-term .ps_box-button a {
    border-radius: 5px;
    box-shadow: none;
    display: inline-block;
    font-size: 11px;
    padding: 3px, 3px, 0, 3px;
    text-decoration: none;
    text-shadow: none; }

.uc-planner .uc-fluid-table table {
  font-size: 11px; }
  .uc-planner .uc-fluid-table table .ps_box-button a {
    border-radius: 5px;
    box-shadow: none;
    display: inline-block;
    font-size: 11px;
    padding: 3px, 3px, 0, 3px;
    text-decoration: none;
    text-shadow: none; }
  .uc-planner .uc-fluid-table table .ps_box-dropdown select {
    font-size: 11px; }

@media all and (max-width: 1000px) {
  .uc-planner .uc-planner-detail .uc-planner-detail-term {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .uc-planner .uc-planner-detail .uc-planner-detail-term > div {
      width: 100%; } }
